@media (min-width: 100px) { 
   
    nav {
        display: none; /*OCULTAR BARRA DE NAVEGACION*/
    }
    .description {
        display: none; /*OCULTAR DESCRIPCION*/
    }
    
}

/*------------------------------------*/
 
@media (min-width: 361px) { /*TABLETS ANCHO MINIMO 361PX*/

    .logo1 {
        width: 33%; /*logo, busqueda y cuotas en una sola fila*/
    }
    
    .busqueda {  /*logo, busqueda y cuotas en una sola fila*/
        width: 33%;
    }

    .cuotas {    /*logo, busqueda y cuotas en una sola fila*/
        width: 33%;
    }

    .busqueda form input {
        width: 25vw;
        height: 4vw;
        font-size: 2vw;
    }
    
    .busqueda form button {
        width: 4vw;
        height: 4vw;
        font-size: 2vw;
    }
    
    .burger-menu { /*ocultar el menu hamburguesa*/
        display: none;
    }

    nav {
        display: flex; /*MOSTRAR BARRA DE NAVEGACION*/
    }

    .description {
        display: flex; /*MOSTRAR DESCRIPCION*/
    }

    .cuotas p { /*variación de tamaño de tipografía*/
        font-size: 2vw;
    }

    header ul li a{ /*variación de tamaño*/
        font-size: 2vw;
    }

    article { /*SE MOSTRATRÁN 2 POR ANCHO DE PANTALLA*/
        width: 48%;
        box-shadow: 0px 0px 10px grey; /*agrego border shadow*/  
    }

    .register, .login {
        width: 70%; /*ancho de los formularios*/
    }
}

/*------------------------------------*/

@media (min-width: 769px) { /*DESKTOP ANCHO MINIMO 769*/ 

    .logo1 {    /*logo, busqueda y cuotas en una sola fila*/
        width: 33%;
    }
    
    .busqueda {  /*logo, busqueda y cuotas en una sola fila*/
        width: 33%;
    }

    .cuotas {  /*logo, busqueda y cuotas en una sola fila*/
        width: 33%;  
    }

    .busqueda form input {
        width: 25vw;
        height: 4vw;
        font-size: 1em;
    }
    
    .busqueda form button {
        width: 4vw;
        height: 4vw;
        font-size: 1em;
    }
    
    .burger-menu { /*ocultar el menu hamburguesa*/
        visibility: hidden;
    }

    nav {
        display: flex; /*MOSTRAR BARRA DE NAVEGACION*/
    }

    .description {
        display: flex; /*MOSTRAR DESCRIPCION*/
    }

    .cuotas p { /*variación de tamaño de tipografía*/
        font-size: 1em;
    }

    header ul li a{ /*variación de tamaño*/
        font-size: 1em;
    }
    article {   /*SE MOSTRATRÁN 4 POR ANCHO DE PANTALLA*/
        width: 23%;
        box-shadow: 0px 0px 10px grey; /*agrego border shadow*/
    }

    .article-footer {
        margin: 20px 0px;
        width: 33%;
    }

    .register, .login {
        width: 50%; /*ancho de los formularios*/
    }
}
 